.app-container {
  font-family: Arial, sans-serif;
  padding: 20px;
  margin-top: 130px;
  margin-left: 300px;
  margin-right: 300px;
}

.heading {
  text-align: center;
  margin-bottom: 20px;
}

.projects-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 52px;
}

.project-card {
  border: 1px solid #ccc;
  border-radius: 46px;
  margin-top: 30px;
  padding: 20px;
  text-align: center;
  cursor: pointer;
  width: 200px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.project-card h2 {
  font-size: 33px;
  background: linear-gradient(270deg, #DF8908 30%, #B415FF 60%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.project-card:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border: 1px solid #bc8add;
}

.project-card.active {
  border-color: #bc8add;
  background-color: rgba(0, 255, 255, 0.1);
}

.projects-details-container {
  display: grid;
  grid-template-columns: repeat(3, 500px); /* Fixed width for 3 columns */
  gap: 30px;
  padding: 20px;
  width: 100%;
  justify-content: center;
  margin-top: 30px;
}

.project-details-card {
  position: relative;
  overflow: hidden;
  border-radius: 30px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  width: 100%; /* Ensure the card fills its grid cell */
  max-width: 490px;
  height: 290px; /* Fixed height for all cards */
}

.project-details-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 30px;
  transition: transform 0.3s ease;
}

.project-details-card:hover img {
  transform: scale(1.05); /* Slight zoom on hover */
}

.project-description {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.6); /* Semi-transparent black background */
  color: white;
  opacity: 0; /* Hidden by default */
  transition: opacity 0.3s ease;
  text-align: center;
  padding: 20px;
  border-radius: 30px; /* Matches the border radius of the card */
}

.project-details-card:hover .project-description {
  opacity: 1; /* Show the description on hover */
}

.project-description h3 {
  margin: 0;
  font-size: 1.5rem;
}

.project-description p {
  margin: 10px 0 0;
  font-size: 1rem;
}
