.about-section {
    display: flex;
    padding: 0 13vw;
    align-items: center;
    flex-direction: row;
    margin-top: 12px; 
    justify-content: center;
    gap: 6vw;
 
 
  }

  .about-text {
    flex: 1;
    padding-right: 80px;
  }
  
  
  
  .about-text p {
    font-size: 20px;

    line-height: 1.8;
    margin-bottom: 20px; /* Added spacing between paragraphs */
  }
  
  .about-image {
    flex: 1;
    display: flex;
    justify-content: center;
  }
  
  .about-image img {
    max-width: 100%;

    height: 40vh;
    border-radius: 8px;
  }
  
  .contact-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin-top: 70px;
  }
  
  .contact-title img {
    position: absolute;
    top: 50%; /* Center vertically */
    left: 50%; /* Center horizontally */
    transform: translate(-50%, -50%); /* Offset by half the width and height */
     /* Adjust size if needed */
    height: auto;
  }
  


 